// primary
  $grayish-blue: hsl(237, 18%, 59%);
  $soft-red: hsl(345, 95%, 68%);
//neutral
  $white: hsl(0, 0%, 100%);
  $very-dark-desaturated-blue: #2C2C44;
  $dark-desaturated-blue: #343650;
  $Very-dark-blue: #1e1f29;
  $very-dark-mostly-black-blue: #191a24;
